/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black; /* Fundo preto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz o body ocupar 100% da tela */
    width: 100%;
}

video {
    max-width: 90%;  /* Evita que o vídeo ultrapasse as bordas laterais */
    max-height: 90vh; /* Mantém o vídeo dentro da altura da tela */
    border-radius: 8px; /* Borda arredondada opcional */
    width: 100%;
    height: auto;
    display: block;
}

/* Centralizar o vídeo */
.video-container {
    position: fixed;
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: none; /* Oculto inicialmente */
    margin: auto;
    align-items: center;
    justify-content: center;
    left: 30%;
}

/* Botão personalizado */
.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 7px solid white;
    border-radius: 50%;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

    .start-button:hover{
     background-color: white;
    }

/*div no meio do botao*/
   .center-button {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(90deg); /* Centraliza e inclina */
    width: 40px;
    height: 40px;
    background-color: white;
    clip-path: polygon(50% 5%, 95% 95%, 5% 95%); /* Cor do triângulo */
    border-radius: 10px;
}

    .center-button:hover{
        background-color: black;
    }


/* Mudança ao clicar */
.start-button:active {
    transform: translate(-50%, -50%) scale(0.95);
}

.button-text{
    color: white;
    position: absolute;
    left: 45.5%;
    font-size: 20px;
    font-family: 'Balgin', sans-serif;
    margin-bottom: 200px;
}

